/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  background-color: #272727;
  font-family: "VT323", monospace;
  color: #D6ED17;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 1023px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 7px;
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#snake-game {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 1600px;
  max-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#snake-game .btn {
  background-color: transparent;
  color: #d6ed17;
  padding: 7px;
  cursor: pointer;
  border-style: solid;
  border-width: 3px;
  border-color: #D6ED17;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23D6ED17' /></svg>");
}
@supports (border-image-source: none) {
  #snake-game .btn {
    border-radius: 16px;
  }
}
@media (hover: hover) {
  #snake-game .btn:hover {
    color: #272727;
    background-color: #D6ED17;
  }
}
#snake-game .btn:focus {
  outline: none;
  box-shadow: none;
}
#snake-game .canvas-container {
  position: relative;
  height: 100%;
  width: 70%;
}
#snake-game .canvas-container .canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}
#snake-game .canvas-container .pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 10px 15px;
  background-color: #272727;
  color: #D6ED17;
  border-style: solid;
  border-width: 4px;
  border-color: #D6ED17;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23D6ED17' /></svg>");
  text-align: center;
}
@supports (border-image-source: none) {
  #snake-game .canvas-container .pop-up {
    border-radius: 20px;
  }
}
#snake-game .canvas-container .pop-up#game-over {
  font-size: 3rem;
  white-space: nowrap;
}
#snake-game .canvas-container .pop-up#counter {
  width: 150px;
  height: 150px;
  justify-content: center;
  font-size: 10rem;
  padding-bottom: calc((150px - 10rem) / 2);
}
#snake-game .canvas-container .pop-up#choose-level {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 3rem;
}
#snake-game .canvas-container .pop-up#choose-level .span-container {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px 0;
  color: #606060;
}
#snake-game .canvas-container .pop-up#choose-level .span-container .level {
  cursor: pointer;
  padding: 5px;
}
#snake-game .canvas-container .pop-up#choose-level .span-container .level:hover {
  transform: scale(1.2);
}
#snake-game .canvas-container .pop-up#choose-level .span-container .level.active {
  color: #D6ED17;
  transform: scale(1.2);
}
#snake-game .interface-container {
  height: 100%;
  width: 30%;
  min-width: 250px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
}
#snake-game .interface-container .interface {
  max-height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
}
#snake-game .interface-container .interface #points {
  min-width: 50%;
  margin: 10px;
  font-size: 3rem;
  text-align: center;
  white-space: nowrap;
}
#snake-game .interface-container .interface #restart {
  margin: 10px;
  font-size: 3rem;
}
#snake-game .arrows-container {
  display: none;
  max-height: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
#snake-game .arrows-container .arrows {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px;
}
#snake-game .arrows-container .arrows .arrow {
  position: absolute;
  width: 30%;
  height: 30%;
  cursor: pointer;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #D6ED17;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23D6ED17' /></svg>");
  -webkit-tap-highlight-color: transparent;
}
@supports (border-image-source: none) {
  #snake-game .arrows-container .arrows .arrow {
    border-radius: 12px;
  }
}
#snake-game .arrows-container .arrows .arrow:focus {
  outline: 0;
}
#snake-game .arrows-container .arrows .arrow .svg-arrow {
  max-height: 95%;
  max-width: 95%;
  fill: #D6ED17;
}
#snake-game .arrows-container .arrows .up {
  left: 35%;
  right: 35%;
}
#snake-game .arrows-container .arrows .down {
  bottom: 0;
  left: 35%;
  right: 35%;
}
#snake-game .arrows-container .arrows .left {
  left: 0;
  top: 35%;
}
#snake-game .arrows-container .arrows .right {
  right: 0;
  top: 35%;
}
@media (orientation: portrait) {
  #snake-game {
    max-width: 900px;
    max-height: 1600px;
    flex-direction: column;
  }
  #snake-game .canvas-container {
    width: 100%;
  }
  #snake-game .interface-container {
    width: 100%;
    height: 150px;
    min-height: 250px;
    flex-direction: row;
    align-items: center;
  }
  #snake-game .interface-container .interface {
    max-height: 50%;
    max-width: 100%;
  }
}
@media (max-width: 1023px) {
  #snake-game .canvas-container .pop-up#counter {
    width: 100px;
    height: 100px;
  }
  #snake-game .interface-container {
    min-width: 220px;
  }
  #snake-game .interface-container .arrows-container .arrows {
    width: 170px;
    height: 170px;
    margin: 15px;
  }
}
@media (max-width: 720px) {
  #snake-game .canvas-container .pop-up#counter {
    width: 50px;
    height: 50px;
  }
  #snake-game .interface-container {
    min-width: 250px;
    min-height: 200px;
  }
  #snake-game .interface-container .interface {
    margin: 5px;
  }
  #snake-game .interface-container .arrows-container .arrows {
    width: 170px;
    height: 170px;
  }
}
@media (max-width: 280px) {
  #snake-game .canvas-container {
    height: 55%;
  }
  #snake-game .canvas-container .pop-up#choose-level .span-container {
    flex-direction: column;
  }
  #snake-game .interface-container {
    flex-direction: column;
  }
  #snake-game .interface-container .interface {
    flex-wrap: nowrap;
  }
}

/*# sourceMappingURL=style.css.map */
