@use './mixins' as m;
@use './variables' as v;
@use "./normalize.css";

html {
  background-color: v.$bg-color;
  font-family: v.$main-font;
  color: v.$main-color;
  font-size: 14px;

  -webkit-tap-highlight-color: transparent;

  @media (max-width: 1023px) {
    font-size: 10px;
    }

  @media (max-width: 720px) {
    font-size: 7px;
    }
  }

body {
  width: 100vw;
  height: 100vh;
  @include m.flex(flex, center, center);
  }

#snake-game {
  width: 100vw;
  @include m.getVh(100);
  max-width: 1600px;
  max-height: 900px;
  @include m.flex(flex, center, center) ;
  overflow: hidden;

  .btn {
    background-color: transparent;
    color: #d6ed17;
    padding: 7px;
    cursor: pointer;
    @include m.pixel-borders(
            $corner-size: 2,
            $border-size: 3px,
            $border-color: v.$main-color,
            $border-inset-color: false
    );

    @media (hover: hover) {
      &:hover {
        color: v.$bg-color;
        background-color: v.$main-color;
        }
      }

    &:focus {
      outline: none;
      box-shadow: none;
      }
    }


  .canvas-container {
    position: relative;
    height: 100%;
    width: 70%;

    .canvas {
      @include m.center;
      max-width: 90%;
      max-height: 90%;
      }

    .pop-up {
      @include m.center;
      display: none;
      padding: 10px 15px;
      background-color: v.$bg-color;
      color: v.$main-color;
      @include m.pixel-borders(
              $corner-size: 2,
              $border-size: 4px,
              $border-color: v.$main-color,
              $border-inset-color: false
      );
      text-align: center;


      &#game-over {
        font-size: 3rem;
        white-space: nowrap;
        }

      &#counter {
        width: 150px;
        height: 150px;
        justify-content: center;
        font-size: 10rem;
        padding-bottom: calc((150px - 10rem) / 2);
        }

      &#choose-level {
        width: 50%;
        @include m.flex(flex, center);
        flex-direction: column;
        font-size: 3rem;

        .span-container {
          align-self: stretch;
          @include m.flex(flex, center, space-around);
          flex-wrap: wrap;
          padding: 15px 0;
          color: v.$canvas-color;

          .level {
            cursor: pointer;
            padding: 5px;

            &:hover {
              transform: scale(1.2);
              }


            &.active {
              color: v.$main-color;
              transform: scale(1.2);
              }
            }
          }
        }
      }
    }

  .interface-container {
    height: 100%;
    width: 30%;
    min-width: 250px;
    @include m.flex(flex, stretch, space-around);
    flex-direction: column;
    padding: 20px;

    .interface {
      max-height: 40%;
      @include m.flex(flex, center, space-around);
      flex-direction: row;
      flex-wrap: wrap;
      margin: 5%;

      #points {
        min-width: 50%;
        margin: 10px;
        font-size: 3rem;
        text-align: center;
        white-space: nowrap;
        }

      #restart {
        margin: 10px;
        font-size: 3rem;
        }
      }
    }

  .arrows-container {
    display: none;
    max-height: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;

    .arrows {
      position: relative;
      width: 200px;
      height: 200px;
      margin: 20px;

      .arrow {
        position: absolute;
        width: 30%;
        height: 30%;
        cursor: pointer;
        background-color: transparent;
        @include m.pixel-borders(
                $corner-size: 2,
                $border-size: 2px,
                $border-color: v.$main-color,
                $border-inset-color: false
        );
        -webkit-tap-highlight-color: transparent;

        &:focus {
          outline: 0;
          }

        .svg-arrow {
          max-height: 95%;
          max-width: 95%;
          fill: v.$main-color;
          }
        }

      .up {
        left: 35%;
        right: 35%;
        }

      .down {
        bottom: 0;
        left: 35%;
        right: 35%;
        }

      .left {
        left: 0;
        top: 35%;
        }

      .right {
        right: 0;
        top: 35%;
        }
      }
    }

  @media (orientation: portrait) {
    max-width: 900px;
    max-height: 1600px;
    flex-direction: column;

    .canvas-container {
      width: 100%;
      }

    .interface-container {
      width: 100%;
      height: 150px;
      min-height: 250px;
      flex-direction: row;
      align-items: center;

      .interface {
        max-height: 50%;
        max-width: 100%;
        }
      }
    }

  @media (max-width: 1023px) {
    .canvas-container {
      .pop-up {
        &#counter {
          width: 100px;
          height: 100px;
          }
        }
      }

    .interface-container {
      min-width: 220px;

      .arrows-container {
        .arrows {
          width: 170px;
          height: 170px;
          margin: 15px;
          }
        }
      }
    }

  @media (max-width: 720px) {
    .canvas-container {
      .pop-up {
        &#counter {
          width: 50px;
          height: 50px;
          }
        }
      }

    .interface-container {
      min-width: 250px;
      min-height: 200px;

      .interface {
        margin: 5px;
        }

      .arrows-container {
        .arrows {
          width: 170px;
          height: 170px;
          }
        }
      }
    }
  @media (max-width: 280px) {
    .canvas-container {
      height: 55%;

      .pop-up {
        &#choose-level {
          .span-container {
            flex-direction: column;
            }
          }
        }
      }

    .interface-container {
      flex-direction: column;

      .interface {
        flex-wrap: nowrap
        }
      }
    }
  }
